/* Variables */

//Colors
$light-grey: #ccc;
$black: #222;
$white: #fff;
$purple: #743C70;
$dark-purple: #4A0E3E;
$light-purple: #BAA2B9;
$light-grey: #F6F6F6;
$green: #9BA33F;
$dark-blue: #1A1C24;

$text-color: $dark-blue;

$nav-color: $white;

//Font-families

