// Footer

footer{

background-color: $white;
}

form {
margin: 0;
padding: 0 4.5em;
}

.b-nav {
  background-color: $white;
  padding: 5em 5em;
  margin: 0 1em;
    width: 80%;

    h3 {
      margin-bottom: .25em;
      font-size: 1em;
      color: $dark-blue;
      margin-bottom: .5em;
      border-bottom: solid $dark-blue 1px;
      padding: .5em 1em .5em 0;
    }

    ul {
      margin-bottom: 1em;
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0 auto;
      font-size: 1em;
        color: $dark-blue;
        line-height: 1.3em;
    }
    a {
      text-decoration: none;
      color: $dark-blue;
        &:hover {
        text-decoration: underline;
        color: $green;
        }
    }
}

.copyright {
  background: $white;
    p {
      color: $dark-blue;
      text-align: center;
      padding: 1em 0;
      margin: 0 15em;
      font-size: .75em;
    }
}

.subscribe {

    background-color: $white;
    padding: 1em 0;
    margin: 0 2em;

    .sub-form{
    display: inline-block;
        float: left;
    }

    i {
    color:$white;
    font-size: 2em;
    display: inline-block;
        vertical-align: middle;
    }

    a {
    text-decoration: none;
    }

    p{
    font-size: 0;
    }

    .sub-btn {
    margin: 1em .5em;
    border: none;
    width: 15em;
    color: $white;
    font-weight: 400;
    font-size: 1.1250rem;
    }

    input,{
    font-size: 1.25em;
    width: 13.5em;
    height: 2.85em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border: solid $purple 2px;
    color: $purple;
}

}

 .address {
    background-color: $purple;

     .b-nav {
     background-color: $purple;
     }

     h3{
     color: $white;
               border: none;
     }

    li {
    color: $white;
    }

    .copyright{
         background-color: $purple;
        p{
    color: $white;
        }
    }
}
