// Forms Footer

form {
    div {
      margin: 0 auto 1.5em auto;
    }
    h2 {
      color: $white;
      text-align: center;
    }
}

.c-form {
    background: linear-gradient(rgba($purple, 0.7), rgba($purple, 0.7)),url(../img/talk-with-young.jpg);
    background-size: cover;
}

.form-wrapper {
  width: 60%;
  margin: 0 auto;
}

input,
select,
textarea {
  font-size: 1.25em;
  width: 80%;
  height: 2em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border: none;
  margin: 0 10%;
  padding-left: 1em;
}

textarea {
height: 5.2em;
}

button[type=submit] {
    border: none;
    padding: 1em .8em;
    width: 15em;
    background-color: $green;
    color: $white;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.1250rem;

}
