// Header

header {
  padding: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right:0;
}

.header-title-wrap {
    background-color: rgba($dark-blue, .9);
    width: 100%;
    position: relative;
  }

.white {
 color: $white;

}

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}

.navigation ul {
  padding: 0;

  li {
      list-style-type: none;
    &:first-child a {
      border-top: 0px solid $light-grey;
      background-color: $purple;
      color: $white;
    }
  }

  a {
    display: block;
    padding: 1.2em .8em;
    border-bottom: 1px solid $light-grey;
    text-decoration: none;
    color: $text-color;
    text-align: center;
    background-color: $light-grey;

      &:hover {
        background-color: $light-purple;
        color: $nav-color;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
      }
    }
}

/*.skew {
        transform: skew(10deg);
        border-bottom-right-radius: 5px;
}*/

.toggle-btn,
.close-btn {
  color: $nav-color;
  text-decoration: none;
  height: 40px;
  width: 40px;

  &:before {
    border: 0;
    display: inline-block;
    padding: 11px 2px;
    font-size: 2em;
    height: 40px;
    width: 40px;
  }

  span {
    @include element-invisible;
  }
}

/*
 *Sliding Navigation
 */

// The page shoud move when nav opens
//this is the only time you will ever use max-width for media query

@media only screen and (max-width: 60em) {
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;

    .sliding-canvas {
      width: 100%;
      height: 100%;
      padding-top: 76px;
      position: relative;
      transform: translateX(0);
      transition: all 300ms ease-in-out;
    }

    &[data-state="slide-open"] .sliding-canvas {
      transform: translateX(-100%);
    }
    &[data-state="slide-open"] {
      overflow: visible;
    }
  }

  //Navigation
.slide-menu{
  //creates the offset of navigation
  position: absolute;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 0;
  min-height: 100px;
  text: $dark-blue;
  background-color: $purple;
}

} //max-width media query


//reset  the page when desktop, even if nav is toggled open
@media only screen and (min-width: 60em) {
  .toggle-btn,
  .close-btn {
    display: none;
  }
}

//Show navigation on screen if no javascript enabled

body.noscript .navigation {
  position: static;
  right: auto; //reset position
}

/* LOGO STARTS */

.logo {
    height: 2.5em;
    width: 7em;
    margin: 1em;
    opacity: 1;

    &:hover {
      opacity: .6;

      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
}

.logo-bg {
  background-color: $purple;
}

/* Video STARTS */

.embed {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embed-item {
  position: absolute;
  left: -12%;
  top: -5%;
  width: 125%;
  height: 125%;
}

.embed-16by9 {
  margin-top: -6%;
  padding-top: 56.25%;
}

.btn-pause {
  position: absolute;
  display:block;
  width: 80px;
  background-color: $green;
  color: $white;
  border: 0 solid $green;
  padding: 1em 1em;
  cursor: pointer;
  margin-bottom: 3px;
  right: 0;
  top: 10em;

  &:hover {
    background-color: $dark-blue;
    color: $white;

    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

// Social Icons over video

.social {
  position: absolute;
  padding: 0;
  background-color: $dark-purple;
  color: $white;
  text-decoration: none;
  font-size: 4em;
  width: 1.2em;
  height: 1em;
  text-align: center;
  margin-bottom: 3px;
  right: 0;
  top: 4em;
  visibility: hidden;

  &:hover {
    background-color: $green;
    color: $white;

    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.social i {
  vertical-align: middle;
}

.social-2 {
  top: 5.1em;
}
