// Homepage

.celebration {
  margin-top: -3px;
  width: 100%;
  background-color: $green;
  z-index: 100;

  h2 {
    color: $white;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }
}

// Quotes

.quote-1 {
  width: 100%;
  background-image: url("../img/home-quote.jpg");
  background-size: cover;

    div {
      background-color: rgba($purple, 0.8);
      width: 100%;
    }
}

.quote-2 {
  width: 100%;
  background-image: url("../img/home-quote-1.jpg");
  background-size: cover;

    div {
      background-color: rgba($green, 0.8);
      width: 100%;
    }
}

blockquote {
  color: $white;
  text-align: right;
  display: block;

  p {
    font-family: $display-text;
    font-weight: 100;
    text-align: right;
  }

  footer {
    text-align: right;
    width: 100%;
    background-color: transparent;
  }
}

// Events

.events {
  width: 100%;
  color: $dark-blue;

  h3 {
    margin-top: 1.5em;
  }
}

.events-bg {
  padding: 1.5rem;
}

// 3 icons 
.icons {

    background-image: url("../img/home-quote-1.jpg");
    display: block;

    a {
    text-decoration: none;
    color: $white;
    text-align: center;
    }

    i {
    display: inline-block;
    font-size: 10em;
    text-align: center;
    padding: 15px 15px;
    vertical-align: middle;
    background-color: $green;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    margin: 40px;
    clip-path: circle(10px at center);
    }
    
   .icon-pos{
     text-align: center;
     vertical-align: middle;
    }
    
    .icon-donate,
    .icon-programs,
    .icon-volunteer{
    }

    p{
    font-size: 0;
    margin: 0;
    }
}
