// Inside pages

.pages {
  color: $dark-blue;
  max-width: 900px;
  margin: 0 auto;
}

.pagetitle {
  margin: .5em 0 .25em .8em;
  font-size: 1.75em;
}

.pageintro {
  margin: 0 1.5em 1em 1.5em;
}

.subtitle {
  text-align: left;
  color: $purple;
  font-size: 1em;
  margin: 0 0 .5em 1.45em;
}

//.subinfo {
//  margin: 0 1.5em 0 2em;
//  font-size: 1em;
//}

.subp {
  margin: 0 0 .5em 1.6em;
}

.subh2 {
  margin: 0 0 0 1.6em;
  color: $light-purple;
}

.subul {
  list-style-type: none;
  
  li {
    margin: 0 1.5em 0 -1.15em;  
  }
}

.subul2 {
  
  li {
    margin: 0 1.5em 0 .25em;  
  }
}

a {
  text-decoration: none;
  color: $purple;
}
