// Inside pages

.pages {
  color: $dark-blue;
}

.pagetitle {
  margin: .5em 0 .25em .8em;
}

.pageintro {
  margin: 0 1.5em 1em 2em;

}

.subtitle {
  text-align: left;
  color: $purple;
  margin: 0 0 .5em 1.5em;
}

.subinfo {
  margin: 0 1.5em 0 2em;
}

.subp {
  margin: 0 1.5em .5em 1.9em;
}

.subli {
  list-style-type: none;
  margin: 0 1.5em 0 -1.25em;
}

a {
  text-decoration: none;
  color: $purple;
}

// News page

.date-wrap {
  position: relative;
  background-color: $light-purple;
  padding: .5em;

  h3, h4 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-weight: 200;
    font-size: 2em;
    width: 100%;
  }
}

.read-btn {
  a {

    padding-right: 2px;
    display: block;
    background-color: $green;
    color: $white;
    padding: .5em;
    width: 7em;
    text-align: center;

  }
}
