// Inside pages

.pages {
  color: $dark-blue;
  max-width: 900px;
  margin: 0 auto;
}

.pagetitle {
  margin: .5em 0 .25em .8em;
}

.pageintro {
<<<<<<< HEAD
  margin: 0 1.5em 1em 2em;

=======
  margin: 0 1.5em 1em 1.5em;
>>>>>>> gh-pages
}

.subtitle {
  text-align: left;
  color: $purple;
<<<<<<< HEAD
  margin: 0 0 .5em 1.5em;
}

.subinfo {
  margin: 0 1.5em 0 2em;
}

.subp {
  margin: 0 1.5em .5em 1.9em;
}

.subli {
=======
  font-size: 1em;
  margin: 0 0 .5em 1.45em;
}

//.subinfo {
//  margin: 0 1.5em 0 2em;
//  font-size: 1em;
//}

.subp {
  margin: 0 0 .5em 1.6em;
}

.subh2 {
  margin: 0 0 0 1.6em;
  color: $light-purple;
}

.subul {
>>>>>>> gh-pages
  list-style-type: none;
  
  li {
    margin: 0 1.5em 0 -1.15em;  
  }
}

.subul2 {
  
  li {
    margin: 0 1.5em 0 .25em;  
  }
}

a {
  text-decoration: none;
  color: $purple;
}

// News page

.date-wrap {
  position: relative;
  background-color: $light-purple;
  padding: .5em;

  h3, h4 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-weight: 200;
    font-size: 2em;
    width: 100%;
  }
}

.read-btn {
  a {

    padding-right: 2px;
    display: block;
    background-color: $green;
    color: $white;
    padding: .5em;
    width: 7em;
    text-align: center;

  }
}
