@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{
  font-family: $main-text;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
      display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
  background-color: $purple;
  z-index: 100;
}

.header-title-wrap {
    background-color: rgba($dark-blue, .9)
  }

h1 {
  color: $green;
    font-family: $display-text;
    font-size: 2em;
}

.white {
 color: $white;
 font-family: $display-text;
 font-size: 1.5em;
    
}

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}

.navigation ul {
  padding: 0;

  li {
    list-style-type: none;
    &:first-child a {
      border-top: 1px solid $light-grey;
    }

    &:last-child a {
      background-color: $green;
      color: $nav-color;
    }
  }

  a {
    display: block;
    padding: 1.2em .8em;
    border-bottom: 1px solid $light-grey;
    text-decoration: none;
    color: $text-color;
    text-align: center;
    background-color: $light-grey;

      &:hover {
        background-color: $light-purple;
        color: nav-color;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
      }
    }
}

.toggle-btn,
.close-btn {
  color: $nav-color;
  text-decoration: none;
  height: 40px;
  width: 40px;

  &:before {
    border: 0;
    display: inline-block;
    padding: 13px 11px;
    font-size: 2em;
    height: 40px;
    width: 40px;
  }

  span {
    @include element-invisible;
  }
}

/*
 *Sliding Navigation
 */

// The page shoud move when nav opens
//this is the only time you will ever use max-width for media query

@media only screen and (max-width: 60em) {
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;

    .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      transition: all 300ms ease-in-out;
    }

    &[data-state="slide-open"] .sliding-canvas {
      transform: translateX(-100%);
    }
    &[data-state="slide-open"] {
      overflow: visible;
    }
  }

  //Navigation
.slide-menu{
  //creates the offset of navigation
  position: absolute;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 0;
  min-height: 100px;
  text: $black;
  background-color: $purple;
}

} //max-width media query

//reset  the page when desktop, even if nav is toggled open
@media only screen and (min-width: 60em) {
  .toggle-btn,
  .close-btn {
    display: none;
  }
}

//Show navigation on screen if no javascript enabled

body.noscript .navigation {
  position: static;
  right: auto; //reset position
}

/* Video STARTS */

.embed {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embed-item {
  position: absolute;
  left: -12%;
  top: -5%;
  width: 125%;
  height: 125%;
}

.embed-16by9 {
  margin-top: -6%;
  padding-top: 56.25%;
}

/* LOGO STARTS */

.logo {
    height: 2.5em;
    margin: 1em;
    opacity: 1;

    &:hover {
      opacity: .6;

      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
}

/* BUTTONS */

.btn-donate {
  position: absolute;
  padding: 1.8em 1em;
  display: inline-block;
  color: $nav-color;
  background-color: $green;
  right: 18%;
  width: 110px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $nav-color;
    color: $purple;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.btn-green {
  padding: 1em .8em;
  display: block;
  width: 50%;
  color: $white;
  background-color: $green;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  margin: 0 auto;

  &:hover {
    background-color: $light-purple;
    color: $white;

    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.btn {
  display:block;
}

.social {
  position: absolute;
  padding: 0;
  background-color: $dark-purple;
  color: $white;
  text-decoration: none;
  font-size: 4em;
  width: 80px;
  height: 70px;
  text-align: center;
  margin-bottom: 3px;
  right: 0;
  top: 29%;
  visibility: hidden;

  &:hover {
    background-color: $green;
    color: $white;

    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.social i {
  vertical-align: middle;
}

.social-2 {
  top: 39%;
}

.btn-pause {
  position: absolute;
  display:block;
  width: 80px;
  background-color: $dark-blue;
  color: $green;
  border: 0 solid $dark-blue;
  padding: 1em 1em;
  cursor: pointer;
  margin-bottom: 3px;
  right: 0;
  top: 21%;

  &:hover {
    background-color: $green;
    color: $white;

    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@media only screen and (min-width: 25em){
  .btn-donate {
    right: 4em;
    width: 140px;
    }
}

@media only screen and (min-width: 38em){
  .btn-donate {
    width: 180px;
  }

  .social {
    visibility: visible;
  }
}

@media only screen and (min-width: 60em){
  header {
    padding: 0 0 0 1em;
  }

  .btn-donate {
    display: none;
  }

  .navigation ul {
    margin: 0;

      li {
        float:left;
        display: inline-block;
        width: 25%;

      &:first-child a {
        border-top: none;
      }

      a {
        padding: 1.8em .8em;
        border-bottom: none;
        text-decoration: none;
        color: $nav-color;
        text-align: center;
        background-color: $purple;

          &:hover {
          background-color: $nav-color;
          color: $purple;
          }
      }
    }
  }

  .header-title-wrap {
    width: 40%;
    position: absolute;
    top: 9.5em;
    left: 10%;
    background-color: rgba($dark-blue, 0.8)
  }
}

form {
  background: $dark-blue;
    div {
      margin: 0 auto 1.5em auto; 
    }
    h2 {
      color: $white;
      text-align: center;
    }
}

input,
select,
textarea {
  font-size: 1.25em;
  width: 60%;
  height: 2em;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
    border: none;
    left: 20%;
    position: relative;
    
}

.copyright {
  background: $dark-purple;
    p {
      color: $white;
      text-align: center;
    }
}

@media only screen and (min-width: 75em){

  .header-title-wrap {
    top: 40%;
  }
  
  input,
  select{
  font-size: 1.25em;
  width: 15em;
  height: 2em;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  margin: 0;
  transform: skew(-5deg);
  
  }
    
    textarea {
        transform: skew(-5deg);
        position: relative;
        left:32em;
        width: 15em;
        top: -3.2em;
        height: 5.2em;
    }
    
    .form-left {
        position: relative;
        left: -3em;
        top: 4em;
    }
    
}
