<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Fly Program</title>
    <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://file.myfontastic.com/pBDapGZPxoJbtmhrsaVmhK/icons.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/MGBNLMU3WjcpkEBDsk5FqN/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
  </head>
  <body class="noscript">
    <!-- skip links-->
    <ul class="skip-links">
      <li><a href="#main"> Jump to Main Content</a></li>
      <li><a href="#navigation"> Jump to Navigation</a></li>
    </ul>
    <!-- skip links-->
    <div class="site-wrapper" data-state="slide-closed">
      <div class="sliding-canvas">
        <header class="header" id="navigation" role="navigation">
          <div class="grid logo-bg">
            <div class="unit xs-1 s-1 m-1 l-1-4">
              <a href="{{site.baseurl}}/">
              <img class="logo" src="{{site.baseurl}}/img/fly-logo.svg" alt="Return to main page">
              </a><a class="btn-donate" href="{{site.baseurl}}/pages/donate">Donate</a>
            </div>
            <div class="unit xs-1 s-1 m-1 l-3-4">
              <!-- Menu Toggle Icon -->
              <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>
              <nav class="navigation slide-menu">
                <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
                <ul>
                  <li>
                    <a href="#" class="bold">About</a>
                    <ul class="skew">
                      <li><a href="{{site.baseurl}}/pages/what-we-do">What We do</a></li>
                      <li><a href="{{site.baseurl}}/pages/who-we-are">Who We Are</a></li>
                      <li><a href="{{site.baseurl}}/pages/news-and-events">News and Events</a></li>
                      <li><a href="{{site.baseurl}}/pages/careers">Careers</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="bold">Our Programs</a>
                    <ul class="skew">
                      <li><a href="{{site.baseurl}}/pages/law">Law</a></li>
                      <li><a href="{{site.baseurl}}/pages/leadership">Leadership</a></li>
                      <li><a href="{{site.baseurl}}/pages/mentor">Mentor</a></li>
                      <li><a href="{{site.baseurl}}/pages/other-programs">Other Programs</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="bold">Get Involved</a>
                    <ul class="skew">
                      <li><a href="{{site.baseurl}}/pages/donate">Donate</a></li>
                      <li><a href="{{site.baseurl}}/pages/volunteer">Volunteer</a></li>
                    </ul>
                  </li>
                  <li class="bold"><a href="{{site.baseurl}}/pages/donate">Donate</a></li>
                </ul>
              </nav>
        </header>

        {{content}}

        <form action="{{site.baseurl}}/pages/thank-you" method="post" class="c-form pad-t-2 pad-b-1">
          <h2 class="zetta text-white center push-0">Contact Us</h2>

          <div class="grid island text-center form-footer push-0">
            <div class="push-0 unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <div class="push-0 unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 padding-right">
                  <div class="form-left">
                    <input id="name" placeholder="Name">
                  </div>
                  <div class="form-left">
                    <input type="email" id="email" placeholder="E-mail">
                  </div>
                </div>
            </div>

            <div class="push-0 unit-1 unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
              <div class="form-right">
                <textarea id="message" placeholder="Message"></textarea>
              </div>
            </div>

            <div class="push-0 unit-1 unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-1">
              <button class="border-radius forms-btn-green" type="submit">Send</button>
            </div>
          </div>
        </form>

        <footer role="contentinfo" class="pad-t-1">
          <div class="grid b-nav">
          <!--  <img class="f-logo" src="{{site.baseurl}}/img/fly-logo.svg" alt="Fly Logo">-->
            <div class="gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <h3>About</h3>
              <ul>
                <li><a href="{{site.baseurl}}/pages/what-we-do">What We Do</a></li>
                <li><a href="{{site.baseurl}}/pages/who-we-are">Who We Are</a></li>
                <li><a href="{{site.baseurl}}/pages/news-and-events">News and Events</a></li>
                <li><a href="{{site.baseurl}}/pages/careers">Careers</a></li>
              </ul>
                </div>
 <div class="gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <h3>Our Programs</h3>
              <ul>
                <li><a href="{{site.baseurl}}/pages/law">Law</a></li>
                <li><a href="{{site.baseurl}}/pages/leadership">Leadership</a></li>
                <li><a href="{{site.baseurl}}/pages/mentor">Mentor</a></li>
                <li><a href="{{site.baseurl}}/pages/other-programs">Other Programs</a></li>
              </ul>
     </div>
     <div class="gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <h3>Get Involved</h3>
              <ul>
                <li><a href="{{site.baseurl}}/pages/donate">Donate</a></li>
                <li><a href="{{site.baseurl}}/pages/volunteer">Volunteer</a></li>
                <li><a href="{{site.baseurl}}/pages/login">Admin Login</a></li>
              </ul>
            </div>
         </div>
            <hr>
            <div class="grid address b-nav">
              <div class="micro gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
                  <h3>Find us!</h3>
                <h4>CORPORATE OFFICE</h4>
                <ul>
                  <li>Sobrato Center for Nonprofits</li>
                  <li>568 Valley Way</li>
                  <li>Milpitas, CA 95035</li>
                  <li>(408) 263-2630</li>
                </ul>

                <h4>SAN MATEO OFFICE</h4>
                <ul>
                  <li>Sobrato Center for Nonprofits</li>
                  <li>330 Twin Dolphin Drive, Suite 109</li>
                  <li>Redwood City, CA 94065</li>
                  <li>(650) 450-6265</li>
                </ul>

                <h4>ALAMEDA COUNTY OFFICE</h4>
                <ul>
                  <li>333 Hegenberger Road</li>
                  <li>Suite 707</li>
                  <li>Oakland, CA 94621</li>
                  <li>(510) 123-3456</li>
                </ul>
              </div>
                <div class="follow gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
                  <img class="f-logo" src="{{site.baseurl}}/img/fly-logo.svg" alt="Fly Logo">
                <h3>Follow Us!</h3>
                <a href="https://www.youtube.com/channel/UCmO5kWtKnDiLlg6gBHlCzZg" target="_blank"><i class="icon-youtube"><p>youtube</p></i></a>
                <a href="https://www.facebook.com/flyprogram" target="_blank"><i class="icon-facebook"><p>facebook</p></i></a>
               </div>
            <div class="gutter-1-2 unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3 unit-xl-1-3">
              <h3 class="sub-info">Subscribe to our mailing list!</h3>
              <form class="subscribe sub-form">
                <input type="email" id="email" placeholder="E-mail">
                <button class="border-radius sub-btn forms-btn-green" type="submit">Subscribe</button>
              </form>
                  <blockquote class="footer-qoute">
                  <p>15 years of making hope happen!</p>
                  </blockquote>
            </div>

          </div>
             <div class="copyright">
              <p class="micro island">© 2016 Fresh Lifelines for Youth. Designed by Fly.</p>
            </div>
        </footer>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/push-menu.js"></script>
    <script src="{{site.baseurl}}/js/video.js"></script>
  </body>
</html>
