<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Fly Program</title>
  <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
  <link href="https://file.myfontastic.com/MGBNLMU3WjcpkEBDsk5FqN/icons.css" rel="stylesheet">
  <link href="https://file.myfontastic.com/pBDapGZPxoJbtmhrsaVmhK/icons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
</head>
<body>

<body class="noscript">
  <div class="site-wrapper" data state="slide-closed">
    <div class="sliding-canvas">
      <header class="header">
        <div class="grid">
          <div class="unit xs-1 s-1 m-1 l-1-4">
            <a href="{{site.baseurl}}/">
              <img class="logo" src="{{site.baseurl}}/img/fly-logo.svg" alt="FLY Logo">
            </a><a class="btn-donate" href="donate.html">Donate</a>
          </div>

          <div class="unit xs-1 s-1 m-1 l-3-4">
            <!-- Menu Toggle Icon -->
            <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

            <nav class="navigation slide-menu">
            <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
              <ul>
                  <li><a href="#">About</a>
                    <!--<ul>
                      <li><a href="#">What We do</a></li>
                      <li><a href="#">Who We Are</a></li>
                      <li><a href="#">News and Events</a></li>
                    </ul>-->
                  </li>
                  <li><a href="#">Our Programs</a>
                    <!--<ul>
                      <li><a href="#">Law</a></li>
                      <li><a href="#">Leadership</a></li>
                      <li><a href="#">Mentor</a></li>
                      <li><a href="#">Other Programs</a></li>
                    </ul>-->
                  </li>
                  <li><a href="#">Get Involved</a>
                    <!--<ul>
                      <li><a href="#">Donate</a></li>
                      <li><a href="#">Volunteer</a></li>
                    </ul>-->
                  </li>
                  <li><a href="#">Donate</a></li>
              </ul>
            </nav>
          </div>
      </header>

      <div class="embed embed-16by9">
        <video class="embed-item smasher-vid" src="{{site.baseurl}}/vid/fly-vid.mp4" poster="" autoplay loop >
          Crazy Balls
        </video>
      </div>

      <button class="btn-pause kilo">Pause</button>

      <div class="header-title-wrap island">
        <h1 class="header-title">Spark change! Invest in a FLY Youth.</h1>
        <p class="white mega">We are uniquely able to give teens the right environment, role models, and the right tools to turn their lives around and build better futures.</p>
        <p><a class="btn-green mega" href="#">Donate to FLY</a></p>
      </div>

      <a class="btn social" href="#"><i class="icon-facebook-official"></i></a>
      <a class="btn social social-2" href="#"><i class="icon-social-youtube"></i></a>

      <main>
        {{content}}
      </main>

    </div>
  </div>
    
  <footer>
    <form action="#" method="post" class="c-form">
      <h2>Contact Us</h2>
      
      <div class="form-left">
        <input id="name" placeholder="Name">
      </div>  
      
      <div class="form-left">
        <input type="email" id="email" placeholder="E-mail">
      </div>
        
      <div class="form-right">
        <textarea id="message" placeholder="Message"></textarea>
      </div>  
      
      <button type="submit">Send</button>
    </form>
    
    <div class="copyright">
      <p class="micro">© 2016 Fresh Lifelines for Youth. Designed by Fly.</p>
    </div>  
  </footer>  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/push-menu.js"></script>
  <script src="{{site.baseurl}}/js/video.js"></script>

</body>
</html>
