---
layout: default
--- 

<main id="main" role="main" class="pages">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
    <img class="mainimg" src="{{site.baseurl}}/images/{{page.main-img}}" alt="">
  </div>

  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
    <h1 class="pagetitle">{{page.ptitle}}</h1>
    <p class="pageintro">{{page.pintro}}</p>
  </div>

  {% for sub in page.subheadings %}
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
    <h2 class="subtitle">{{sub.sub}}</h2>
    <p class="subinfo">{{sub.desc}}</p>
  </div>
  {% endfor %}
</main>  